# Temporary files
*.swp
*.swo
*~
# Compiled python files
*.pyc
# Mac specific files
**/.DS_Store
# Jupyter checkpoints
**/.ipynb_checkpoints/
AMMA/REF/ferret.jnl
ASTEX/MESONH/ASTEX_EXSEG1.nam
ASTEX/MESONH/ASTEX_PRE_IDEA1.nam
ASTEX/MESONH/ASTEX_PRE_IDEA1.nam_RSOU
ASTEX/MESONH/ASTEX_PRE_IDEA1.nam_ZFRC
ASTEX/MESONH/EXSEG1.nam_ASTEX_BIG07
ASTEX/MESONH/PRE_IDEA1.nam_ASTEX_BIG07
ASTEX/MESONH/README.ipynb
ASTEX/MESONH/README.md
ASTEX/MESONH/astex_input_v5.nc
ASTEX/MESONH/driver_DEF.py
ASTEX/MESONH/driver_SCM.py
ASTEX/MESONH/ferret.jnl
ASTEX/MESONH/prep_nam_from_MNH_to_FFCOM_pour_DEPHY_SCM.py
ASTEX/REF/ASTEX_REF_DEF_driver.nc
ASTEX/REF/EXSEG1.nam_ASTEX_BIG07
ASTEX/REF/PRE_IDEA1.nam_ASTEX_BIG07
ASTEX/REF/README.ipynb
ASTEX/REF/README.md
ASTEX/REF/astex_input_v5.nc
ASTEX/REF/driver_DEF.py
ASTEX/REF/driver_SCM.py
ASTEX/REF/ferret.jnl
BLLAST/MESONH/ferret.jnl
BLLAST/MESONH/images/driver_SCM/ferret.jnl
DYNAMO/LBA/
KB2006/MESONH/ferret.jnl
LBA/MESONH/LBA_REF_DEF_driver.nc
LBA/MESONH/LBA_formatcommun_ZFR_1
LBA/MESONH/LBA_formatcommun_ZFR_2
LBA/MESONH/LBA_formatcommun_ZFR_3
LBA/MESONH/LBA_formatcommun_ZFR_4
LBA/MESONH/LBA_formatcommun_ZFR_5
LBA/MESONH/LBA_formatcommun_ZFR_6
LBA/MESONH/LBA_formatcommun_ZFR_7
LBA/MESONH/driver_DEF.py
LBA/MESONH/driver_SCM.py
LBA/MESONH/flux_LBA
LBA/MESONH/init.txt
LBA/REF/P_GCSS.txt
LBA/REF/T_GCSS.txt
LBA/REF/rh_GCSS.txt
LBA/REF/u_GCSS.txt
LBA/REF/v_GCSS.txt
LBA/REF/z_GCSS.txt
EUROCS/OLD/
