MAIZE_ADV_REF_advuv/
MAIZE_ADV_REF_beta_030/
MAIZE_ADV_REF_beta_037/
MAIZE_ADV_Tq_geos/
MAIZE_ADV_Tquv/
MAIZE_rs_idea_ADV_S05_20km_ARP_GW_S05_h1/
MAIZE_rs_idea_ADV_S05_65km_ARP_GW_S05_h1/
MAIZE_rs_idea_ADV_S0_ARP_GW_S05_h1/
MAIZE_rs_idea_ADVuv_S05_10km_ARP_GW_S05_h1/
MAIZE_rs_idea_ADVuv_S05_20km_ARP_GW_S05_h1/
MAIZE_rs_idea_ADVuv_S05_65km_ARP_GW_S05_h1/
MAIZE_rs_idea_ADVuv_S05_ARP_GW_S05_h1/
FOREST_ADV_REF/
